{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}UH401{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'index.css' %}"/>
{% endblock %}
{% block content %}
    <table>
        {% for story in stories %}
            <tr>
                <td><a href="{% url 'story' story.id %}">{{ story.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
    {% if stories.has_previous %}
        <a href="?page={{ stories.previous_page_number }}"><<</a>
    {% endif %}
    {% if stories.has_next %}
        <a href="?page={{ stories.next_page_number }}">>>/a>
    {% endif %}
{% endblock %}