{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}{{ story.name }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'story.css' %}"/>
    <script type="text/javascript" src="{% static 'story.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="top-bar">
        <div id="story-name">{{ story.name }}</div>
        <div id="part-num"></div>
    </div>
    <div id="story">
        <p id="story-note">{{ story.note }}</p>
        {% autoescape off %}
            {{ story_xml }}
        {% endautoescape %}
    </div>
    <div id="bottom-bar">
        <div id="addons">
            <div id="addon-cz"></div>
            <div id="addon-alt"></div>
            <div id="addon-err"></div>
        </div>
        <a href="javascript:;">Next</a>
    </div>
{% endblock %}