html {
    font-family: Lato, sans-serif;
}

article {
    color: #000000;
}
p {
    margin: 0;
}
a {
    text-transform: uppercase;
    color: #ff6347;
    text-decoration: none;
    font-weight: bold;
    font-size: 7vh;
    padding: 5px;
}
strong {
    font-weight: bold;
}

strong.active {
    color: #ff6347;
}


#addons { /* Box with addons (translation, errors, alternative translations) */
    color: #777777;
    font-size: 4vmin;
}
#bottom-bar { /* Bottom bar with addons and the next button */
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    width: 94%;
    bottom: 0;
    padding: 3%;
}
#top-bar { /* Top bar with story name and part numbers */
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    width: 94%;
    margin-right: 3%;
    margin-left: 3%;
}
#story-name {
    color: #ff6347;
}
#story-note {
    font-size: 4vmax;
}
#story { /* Container for the story note and content */
    font-size: 10vmin;
    margin: 3%;
}
#addon-err { /* Errors styling */
    color: #dd0000;
    text-decoration: line-through;
}
.no-highlight { /* Used for inline highlight exclusions */
    font-weight: normal !important;
    color: #000000 !important;
}